#fundo-cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 280px;
    background-color: cornflowerblue;
}

#titulo {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#botaoCadastro {
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    margin-top: 80px;
    margin-left: 500px;
    position: absolute;
    font-size: 20px;
    width: 150px;
}

#botaoLogin {
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    margin-top: 80px;
    margin-left: 700px;
    position: absolute;
    font-size: 20px;
    width: 150px;
}

#formularioCadastro {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
}

#formularioLogin {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
}

#tituloCadastro {
    margin-bottom: -25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
#tituloLogin {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
#senhaCadastro {
    margin-bottom: 15px;
    }
#senhaLogin {
    margin-bottom: 15px;
    }



.input {
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 3px;
}

.botao {
    color: #FFF;
    transition: all 0.5s;
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255,255,255,0.15);
    transition: all 0.35s;
}
.botao::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.35s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.3,1.3);
}
.botao:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.labelCadastro {
    font-family: sans-serif;
}